<div class="container_fluid">
    <div class="contenedor_principal_registro">
        <div class="contenedor_sombra">
            <div class="contenedor_formulario">
                
                <form [formGroup]="informacionRegistro" (submit)="enviarRegistro()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="nombre">
                        <small class="text-danger" *ngIf="ValidarNombre">*Escriba el nombre</small>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Correo Electronico</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="correo">
                        <small class="text-danger" *ngIf="ValidarCorreo">*Escriba el correo electronico</small>

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword3" class="form-label">Password</label>
                        <input type="password" class="form-control"  formControlName="pass">
                        <small class="text-danger" *ngIf="ValidarPass">*la contraseña debe tener minimo 6 caracteres</small>

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword4" class="form-label">Repita Password</label>
                        <input type="password" class="form-control"  formControlName="pass2">
                        <small class="text-danger" *ngIf="ValidarPass2">*Escriba la contraseña no es igual</small>

                    </div>
                    <button type="submit" class="btn btn-primary boton_registro">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
