.fondo{

    width: 100%;
    display: table;
    background-image: url('../../../assets/img/fondo.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

.contenedor_albunes{

    margin-top: 20px;
}

.card{
    margin: 30px 10px;
    cursor:pointer;
    transition:transform .2s;
}

.card:hover{

    transform:scale(0.9);
}

.col-md-4 {
    flex: 0 0 auto;
    width: 31%;
    padding: 10px 13px;
}

.card-title{
    color: #ffffff;
    font-size: 29px;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 700;
}

.texto_generos{
    background-color: #bfbfbf;
    color: #121212;
    width: auto;
    display: table;
    padding: 2px 10px;
    border-radius: 12px;
    float: left;
    margin: 7px 4px;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-weight: 600;
}

.fondo_verde{

    background-color: #9fa8ff;
}


.boton_ver_album{


    padding: 5px 16px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #bfbfbf;
    color: #fff;
    border-radius: 6px;
    margin: 19px 0px;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    font-size: 16px;

}

.boton_ver_album:hover{

    background-color: #bfbfbf;
    color: #121212;
    border:1px solid #121212;
}